@CHARSET "UTF-8";
.person-table{
	border-collapse: collapse;
}

.person-table-header{
	text-align: center;
	background: #5d9de4;
	padding: 20px;
	color: white;
}

.person-table-addRow{
	text-align: center;
	background: #eaeaea;
	border-top: 1px solid #888888;
}

.person-table-evenRow{
	text-align: center;
	background: #F9F9F9;
	border-top: 1px solid #BBBBBB;
}